.chart_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  backdrop-filter: blur(3px);
}
.chart_close_icon {
  cursor: pointer;
  background-color: var(--redNumber);
  border-radius: 5px;
  margin: 25px 20px;
  padding: 10px;
}
.chart_box {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background-color: #09111fe0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
.chart_box_title {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.chart_title_image {
  width: 60px;
  height: 60px;
}
.chart_title_name {
  color: var(--background-main-color);
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}
.chart_box_price_type {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.chart_price_type_btn {
  width: 100px;
  padding: 5px 3px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--border);
  color: var(--background-main-color);
  font-size: 1rem;
  margin-right: 15px;
  cursor: pointer;
}
.selected {
  width: 100px;
  padding: 5px 3px;
  border-radius: 5px;
  border: 2px solid var(--border);
  font-size: 1rem;
  margin-right: 15px;
  cursor: pointer;
  background-color: var(--card-tag-color);
  color: var(--card-tag-text);
}
.chart_box_details {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.chart_details_title {
  font-size: 1.2rem;
  color: var(--card-tag-color);
}
.chart_details_content {
  font-size: 1rem;
  color: var(--background-main-color);
}
.graph {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

@media (max-width: 530px) {
  .chart_box_title {
    margin-bottom: 15px;
  }
  .chart_box {
    height: 100%;
  }
  .chart_box_details {
    flex-flow: column-reverse nowrap;
    align-items: flex-end;
    justify-content: center;
    margin: 10px 0;
  }
  .chart_box_details div {
    padding: 5px;
  }
}

@media (max-width: 430px) {
  .chart_title_image {
    width: 40px;
    height: 40px;
  }
  .chart_price_type_btn {
    font-size: 0.9rem;
    width: 90px;
    margin-right: 10px;
  }
}
